.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(0px 4px 0px var(--black));
}

h1 {
  font-size: 3em;
  color: var(--main);
}

h2 {
  font-size: 2em;
  color: var(--medium);
}

p {
  font-size: 1.5em;
  text-align: center;
  color: var(--medium);
}

.space {
  margin-top: 20vh;
  width: 95%;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.big-div {
  display: grid;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.button {
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 9px;
  background-color: transparent;
  border: .2em solid var(--medium);
  color: var(--medium);
  border-radius: .5em;
  filter: drop-shadow(0px 5px 2px var(--black));
  transition: all.3s;
}

.button:hover {
  transform: translateY(3px);
  filter: drop-shadow(0px 2px 0px var(--black));
  cursor: pointer;
}
